@import "tailwindcss";
/* @import "@mantine/core/styles.css"; */

:root[data-theme="light"] {
  --secondary-color: #28264b;
  --base-color: #e8eae7;
  --accent-color: #a40033;
  --surface-color: #959ec9;
  --neutral-color: #4e5174;
  --text-color: #fff;
  --antitext-color: #000;
}

:root[data-theme="dark"] {
  --secondary-color: #D7D9B4;
  --base-color: #171518;
  --accent-color: #92769f;
  --surface-color: #6A6136;
  --neutral-color: #B1AE8B;
  --text-color: #000;
  --antitext-color: #fff;
}

/* [data-mantine-input] {
  color: var(--base-color);
}
[data-mantine-input]::placeholder {
  color: var(--neutral-color);
}

@theme inline {
  --color-background: var(--base-color);
  --color-foreground: var(--text-color);

  --mantine-color-text: var(--text-color);
} */

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: var(--base-color) !important;
  font-family: Arial, Helvetica, sans-serif;
}




.pw-input input {
  background-color: var(--text-color) !important;
  color: var(--secondary-color) !important;
}
.pw-input input::placeholder {
  color: var(--surface-color) !important;
}