@import "tailwindcss";
/* @import "@mantine/core/styles.css"; */

:root[data-theme="light"] {
  --secondary-color: #28264b;
  --base-color: #e8eae7;
  --accent-color: #a40033;
  --surface-color: #959ec9;
  --neutral-color: #4e5174;
  --text-color: #fff;
}

:root[data-theme="dark"] {
  --secondary-color: #D7D9B4;
  --base-color: #171518;
  --accent-color: #92769f;
  --surface-color: #6A6136;
  --neutral-color: #B1AE8B;
  --text-color: #000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: var(--base-color) !important;
  font-family: Arial, Helvetica, sans-serif;
}
